/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 *
 * Colors
 **/

* {
    background:     #11111bFF;
    background-alt: #1e1e2eFF;
    foreground:     #cdd6f4FF;
    selected:       #89b4faFF;
    active:         #ABE9B3FF;
    urgent:         #F28FADFF;
}
