@import "../custom-color.css";
@import "colors-waybar.css";

* {
    all: unset;
    font-family:
        FiraCode Nerd Font,
        FontAwesome,
        Roboto,
        Arial,
        sans-serif;
    font-size: 13px;
    padding: 0;
    margin: 0;
    border: none;
    border-radius: 6px;
    box-shadow: none;
}
/* ---------modules group--------- */

/* css margin: top right bottom left; */

.modules-right {
    background-color: @bg;
}
.modules-center,
.modules-left {
    background-color: transparent;
}

.modules-left,
.modules-center,
.modules-right {
    margin: 3px 5px 0;
    color: @color7;
    min-height: 28px;
}

tooltip,
menu {
    background-color: @bg;
    color: @color7;
}

tooltip,
menu menuitem {
    padding: 5px;
}

menu menuitem {
    border-radius: 0;
    margin: 3px;
}

window#waybar {
    /* background: linear-gradient(180deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)); */
    background-color: transparent;
}

window#waybar.hidden {
    opacity: 0.2;
}

window#waybar.empty #window {
    background-color: transparent;
    color: transparent;
}

/* --------workspaces-------- */

#workspaces {
    background-color: @bg;
    color: @color7;
    padding: 4px 0;
}

#workspaces button {
    min-width: 20px;
    border: none;
    margin: 0 4px;
    color: @foreground;
    background-color: @bg;
    transition: all 0.3s ease-in-out;
    opacity: 0.4;
}

#workspaces button.active {
    color: @bg;
    background-color: @color7;
    min-width: 45px;
    opacity: 1;
}

/* --------modules-------- */
/*--------GENERAL STYLING-------*/

#custom-power,
#battery,
#network,
#bluetooth,
#backlight,
#wireplumber {
    color: @color5;
}

#clock,
#mpris {
    color: @color6;
}

#window,
#mpris,
#mpris.paused,
#clock,
#tray,
#memory,
#wireplumber,
#backlight,
#bluetooth,
#network,
#battery,
#custom-power {
    margin: 0 6px;
    background-color: @bg;
    box-shadow: none;
    min-width: 20px;
}

#tray,
#memory,
#wireplumber,
#backlight,
#bluetooth,
#network,
#battery,
#custom-power {
    background-color: transparent;
}
/*-----------SPECIFIC STYLING-----------*/
#wireplumber,
#wireplumber.muted,
#backlight {
    min-width: 40px;
}

#wireplumber.muted {
    margin-top: 4px;
    margin-bottom: 4px;
    background-color: @foreground;
    color: @bg;
}

#custom-power {
    padding-right: 8px;
}

#custom-suspend,
#custom-shutdown,
#custom-reboot,
#custom-logout {
    padding: 0 15px;
    margin: 4px 3px;
    background-color: @color7;
    color: @bg;
    border: none;
}

#window,
#mpris,
#mpris.paused,
#clock {
    padding: 0 15px;
}

#taskbar {
    margin: 0 5px;
}

#taskbar button {
    padding: 0 8px;
}
#taskbar button.active {
    background-color: alpha(@color7, 0.3);
}

#mpris.playing {
    color: @bg;
    background: radial-gradient(circle, @peach, @red, @mauve, @purpureus);
    background-size: 200% 200%;
    animation: gradient-flow 15s ease infinite;
}

@keyframes gradient-flow {
    0% {
        background-position: 0% 50%;
    }
    25% {
        background-position: 50% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    75% {
        background-position: 50% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
