@import "../custom-color.css";
@import "colors-waybar.css";

* {
    all: unset;
    font-family:
        MesloLGM Nerd Font,
        BlexMono Nerd Font,
        FiraCode Nerd Font,
        JetBrains Mono Nerd Font,
        Roboto,
        sans-serif;
    font-size: 12px;
    border-radius: 0;
    border: none;
    padding: 0;
    margin: 0;
    box-shadow: none;
    text-shadow: none;
    background-color: transparent;
    background: transparent;
    color: @color7;
    font-weight: normal;
}

window#waybar,
tooltip,
menu {
    background-color: alpha(@background, 0.9);
    /* background-color: transparent; */
    border-radius: 0;
}

.modules-left,
.modules-center,
.modules-right {
    min-height: 30px;
    margin: 0 5px;
}

tooltip label {
    padding: 5px;
}

menu menuitem {
    margin: 5px;
}

#workspaces {
    margin: 0 10px 0 5px;
}

#workspaces button {
    min-width: 20px;
    padding: 0 3px;
    transition: border 0.3s ease-out;
}
#workspaces button.active,
#workspaces button:hover {
    border-bottom: 2px solid @color7;
    padding-bottom: 2px;
    background-color: alpha(@color7, 0.1);
}

#taskbar button {
    padding: 0 5px;
    opacity: 0.6;
}
#taskbar button.active {
    opacity: 1;
    border-bottom: 2px solid @color7;
}

#mpris {
    margin: 4px 8px;
    padding: 0 10px;
    border-radius: 6px;
    transition: background 0.5s ease;
}

#mpris.playing {
    /*background-color: alpha(@color7, 0.1);*/
    color: @background;
    /* background: linear-gradient(
        270deg,
        @aquamarine,
        @powderblue,
        @coolgray,
        @purpureus
    ); */
    background: radial-gradient(circle, @peach, @red, @mauve, @purpureus);
    background-size: 200% 200%;
    animation: gradient-flow 15s ease infinite;
}

@keyframes gradient-flow {
    0% {
        background-position: 0% 50%;
    }
    25% {
        background-position: 50% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    75% {
        background-position: 50% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes blink {
    to {
        color: @background;
    }
}

#tray,
#wireplumber,
#backlight,
#network,
#custom-power,
#custom-suspend,
#custom-logout,
#custom-reboot,
#custom-shutdown {
    min-width: 25px;
    padding: 0 3px;
    margin: 0 3px;
}

#bluetooth,
#battery {
    min-width: 15px;
    margin: 0 3px;
}

#custom-power:hover,
#wireplumber:hover,
#backlight:hover,
#network:hover,
#bluetooth:hover,
#battery:hover {
    border-bottom: 2px solid @color7;
}

#clock {
    margin: 0 10px 0 0;
    padding-left: 8px;
}

#battery.critical:not(charging) {
    animation-name: blink;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
