@import "color-waybar.css";

/* reset all styles */
* {
    all: unset;
    font-family:
        JetBrains Mono Nerd Font,
        FiraCode Nerd Font,
        Roboto,
        Arial,
        sans-serif;
    /* font-size: 14px; */
    border: none;
    border-radius: 6px;
    padding: 0;
    margin: 0;
    box-shadow: none;
    text-shadow: none;
    background-color: transparent;
    color: @antiflash;
    font-weight: normal;
}

window#waybar {
    background-color: transparent;
}

/* general */

tooltip,
menu,
#workspaces,
#clock,
#mpris,
#tray,
#wireplumber,
#backlight,
#bluetooth,
#network,
#battery,
#custom-power {
    background: black;
    padding-bottom: 7px;
    padding-top: 7px;
    margin: 0 3px;
}

menu menuitem {
    padding: 8px;
}

.modules-right,
.modules-center,
.modules-left {
    padding: 0 5px;
    margin: 0 5px 3px;
}

/* LEFT MODULES */

#workspaces {
    padding: 0 8px 0 3px;
    border-radius: 22px;
    color: transparent;
    background: black;
    font-weight: bold;
    opacity: 1;
}
#workspaces button {
    background: transparent;
    min-width: 30px;
    transition: all 0.3s ease-in-out;
    opacity: 1;
}
#workspaces button.active {
    opacity: 1;
}
#workspaces button.active box label {
    color: @vista-blue;
}

#taskbar button {
    padding: 3px 8px;
    transition: all 0.3s ease-in-out;
}
#taskbar button.active {
    background: alpha(@onyx, 0.6);
}

/* CENTER MODULES */

#clock,
#mpris {
    padding: 0 15px;
}

#mpris.playing {
    color: black;
    background: radial-gradient(
        circle,
        @vista-blue,
        @tropical-indigo,
        @celeste
    );
    background-size: 200% 200%;
    animation: gradient 25s linear infinite;
}
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    25% {
        background-position: 50% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    75% {
        background-position: 50% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
/* RIGHT MODULES */

/* #tray,
#wireplumber,
#backlight,
#bluetooth,
#network,
#battery,
#custom-power {
    border-radius: 22px;
} */

#tray {
    padding: 0 8px;
}
#wireplumber,
#backlight {
    padding: 0 8px;
}

#wireplumber {
    color: @celeste;
}

#backlight {
    color: @arylide-yellow;
}
#bluetooth,
#network {
    color: @vista-blue;
}
#bluetooth {
    min-width: 20px;
    padding: 0 10px;
}
#network {
    min-width: 30px;
    padding: 0 7px 0 2px;
    margin: 0 2px;
}
#battery {
    color: @mint;
    min-width: 30px;
    padding-left: 5px;
    padding-right: 3px;
}

#battery.full {
    color: @antiflash;
}

#battery.charging {
    padding-right: 10px;
    padding-left: 7px;
}

#battery.good {
    color: @mint;
}
#battery.fair {
    color: @tropical-indigo;
}
#battery.warning {
    color: @sunglow;
}
#battery.critical {
    color: @blush;
}

#custom-power {
    padding: 0 15px 0 9px;
    color: @cerise;
}

#custom-suspend,
#custom-logout,
#custom-reboot,
#custom-shutdown {
    color: black;
    background: @cerise;
    padding: 0 5px;
    min-width: 25px;
    margin: 0 2px;
}
