@import "colors-waybar.css";

* {
    all: unset;
    font-family:
        BlexMono Nerd Font,
        FiraCode Nerd Font,
        MesloLGM Nerd Font,
        FontAwesome,
        Roboto,
        Arial,
        sans-serif;
    font-size: 12px;
    font-weight: 500;
    color: @foreground;
}
/* ---------modules group--------- */

/* css margin: top right bottom left; */

.modules-right {
    background-color: @background;
    border-radius: 6px;
    /* padding: 0 5px; */
    /* box-shadow: inset 0 0 0 2px @color7; */
}
.modules-center,
.modules-left {
    background-color: transparent;
}

.modules-left,
.modules-center,
.modules-right {
    margin: 5px;
    min-height: 26px;
}

menu {
    background: @background;
    border-radius: 4px;
}
menu menuitem {
    color: @color3;
    padding: 5px 10px;
}
tooltip {
    background: @background;
    border-radius: 4px;
}

window#waybar {
    background-color: @background;
    border-radius: 4px;
}

window#waybar.empty #window {
    background-color: transparent;
    color: transparent;
    box-shadow: none;
    padding: 0;
    margin: 0;
}

/* ----------------------------- */
#workspaces {
    background: alpha(@foreground, 0.1);
    /* box-shadow: inset 0 0 0 2px @color7; */
    border-radius: 6px;
    padding: 0;
}
#workspaces button {
    min-width: 25px;
    min-height: 25px;
    padding: 0;
    opacity: 0.5;
    border-radius: 4px;
    transition: all 0.25s ease-in;
}
#workspaces button.active {
    background: @color7;
    opacity: 1;
}
#workspaces button.active label {
    color: @background;
    font-weight: bold;
}

#window {
    background: @background;
    border-radius: 6px;
    padding: 0 10px;
    /* box-shadow: inset 0 0 0 2px @color7; */
}

/* ----------------------------- */
#clock,
#mpris,
#tray,
#wireplumber,
#pulseaudio,
#backlight,
#bluetooth,
#network,
#battery,
#custom-notification,
#custom-power {
    background: alpha(@foreground, 0.1);
    border-radius: 4px;
    padding: 0 10px;
    min-height: 25px;
}

#network,
#clock {
    background: alpha(@foreground, 0.2);
}

#battery {
    background: @color7;
    color: @background;
}
#custom-notification {
    padding-right: 12px;
}
#custom-power {
    background: @color7;
    color: @background;
    padding-right: 12px;
}

/* ----------------------------- */
#custom-reboot,
#custom-suspend,
#custom-shutdown,
#custom-logout {
    padding: 0 15px;
    color: @foreground;
    background: alpha(@color7, 0.2);
}

#custom-shutdown {
    border-radius: 0 4px 4px 0;
    margin-right: 3px;
}
#custom-logout {
    border-radius: 4px 0 0 6px;
}
